<div class="page-banner article-banner" style="background-image: url({{ img }}">
    
    <div class="inner">
    <header class="gallery-banner">
        {%- if title !=  blank -%}
            <h1>{{ title}}</h1>
        {%- endif -%}
        {%- if sub_title != blank -%}
            <h2>{{ sub_title }}</h2>
        {%- endif -%}
    </header>
    </div>
</div>
