<ul class="socials-nav page-socials">
    <li>
        <a href="https://www.instagram.com/henri_living/" target="_blank">
            <div class="icon">
                {% render 'instagram' %}
            </div>
        </a>
    </li>
    <li>
        <a href="https://www.facebook.com/HenriLiving/" target="_blank">
            <div class="icon">
                {% render 'icon-facebook'%}
            </div>
        </a>
    </li>
</ul>