{% render 'section-settings' %}
<div class="site-wrapper">
  <main class="page-content padding-top fade-in standard-layout container">
    <nav class="product-item-nav md breadcrumb">
      <a href="/designers">Designers</a> <span class="breadcrumb-seperator"></span> Antonio Marras
    </nav>
    <article class="designer">
      <div class="md-3-cols cols">
        <section class="col-1">
          <img src="{{ page.metafields.accentuate.image }}" width height loading="lazy">
        </section>
        <section class="col-2">
          <div class="container">
            <h1 class="product-title">{{ page.title }}</h1>
          </div>
          <div class="content-inner">
            <div class="container content-block">
              <div class="text-left" style=" max-width: 100; margin: auto;">
                {{ page.content }}
              </div>
            </div>
          </div>
        </section>
      </div>
      <section class="content-block products padding-block">
        {% for product in page.metafields.product.img %}
          {%- assign i = forloop.index0 -%}
          {% render 'disigner-product-card',
            image: page.metafields.product.img[i],
            collection_url: page.metafields.product.collection_url[i],
            collection_title: page.metafields.product.collection_title[i],
            product_url: page.metafields.product.product_url[i],
            product_title: page.metafields.product.product_title[i],
            text: page.metafields.product.notify[i]
          %}
        {% endfor %}
      </section>
    </article>
  </main>
</div>
{% schema %}
{
  "name": "Disigner",
  "settings": [
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color"
    },
    {
      "type": "header",
      "content": "padding settings"
    },
    {
      "type": "range",
      "id": "ptop",
      "min": 0,
      "max": 36,
      "step": 4,
      "unit": "px",
      "label": "Padding top",
      "default": 20
    },
    {
      "type": "range",
      "id": "pbottom",
      "min": 0,
      "max": 36,
      "step": 4,
      "unit": "px",
      "label": "Padding bottom",
      "default": 20
    }
  ]
}
{% endschema %}
